.fundo {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: end;
    align-items: center;
    background: url(../Img/classe.jpg);
    background-size: cover;
    background-position: center;
}

.fundo img {
    width: 80%;
    border: 3px solid #fff;
}

.fundo-dado {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
    background-color: #111113;
}

.dado {
    width: 500px;
    height: 350px;
    background-color: #28282b;
    border: 3px solid #fff;
    box-shadow: black 10px 10px 10px;
}

#div_dado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 292px;
}

.botao {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    border-top: 1px solid #fff;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #cb2229;
    color: #fff;
    padding: 10px 15px;
    border: none;
    width: 80px;
    height: 37px;
    text-align: center;
    cursor: pointer;
}