.fundo {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
    background: url(../Img/dado.jpeg);
    background-size: cover;
}

.dado {
    width: 650px;
    height: 350px;
    border-radius: 10px;
    background-color: rgba(44, 41, 41, 0.24);
    border: 1px solid #fff;
}

.botao {
    display: flex;
    justify-content: space-evenly;
    width: 650px;
    border-top: 1px solid #fff;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #cb2229;
    color: #fff;
    padding: 10px 15px;
    border: none;
    width: 100px;
    height: 37px;
    text-align: center;
    cursor: pointer;
}

#div_dado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 292px;
}