*{
    font-family: 'Segoe UI';
}

body {
    margin: 0;
}   

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

/* INICIO DA HEADER */
.header {
    width: 100%;
    background-color: rgb(233, 227, 227);   
}

.header .container {
    width: 100%;
    justify-content: space-evenly;
    align-items: center; 
    height: 130px;
}

.header .logo {
    width: 220px;
}

.sub-header {
    width: 100%;
    height: 50px;
    background-color: rgb(56, 52, 52);
}
  .sub-header a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  .subnav {
    float: left;
    overflow: hidden;
  }

  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: auto;
  }
  
  .sub-header a:hover, .subnav:hover .subnavbtn {
    background-color: #cb2229;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #cb2229;
    width: 100%;
    z-index: 1;
  }
 
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background: url(../Img/war.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner img {
    width: 500px;
    height: 300px;
  }

  .social img {
    border-radius: 10px;
    border: #fff solid 2px;
  }

  .info {
    font-size: 30px;
  }

  .person {
    width: 100%;
    height: 650px;
    display: flex;
  }
  
  aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 650px;
    background-color: #17171a;
  }

  aside h1 {
    color: #fff;
  }

  .spanTitulo {
    width: 85%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }

  .nome-personagem {
    padding: 10px 15px;
    width: 79.5%;
    margin: 20px;
  }

  .descricao-personagem {
    padding: 30px 35px;
    width: 74%;
    margin: 20px;
  }

  .botao {
    width: 84%;
    padding: 10px 15px;
    color: #fff;
    background-color: #cb2229;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.link {
  color: #fff;
  text-decoration: none;
}

  article {
    width: 50%;
    height: 650px;
    background-color: #17171a;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  iframe {
    margin-left: 30px;
    border-radius: 10px;
    border: #fff solid 2px;
}