*{
    font-family: 'Segoe UI';
}

body {
    margin: 0;
}   

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

/* INICIO DA HEADER */
.header {
    width: 100%;
    background-color: rgb(233, 227, 227);   
}

.header .container {
    width: 100%;
    justify-content: space-evenly;
    align-items: center; 
    height: 130px;
}

.header img {
    width: 220px;
}
/* FIM DA HEADER */

/* INICIO DA SUB-HEADER */
.sub-header {
    width: 100%;
    height: 50px;
    background-color: rgb(56, 52, 52);
}
  .sub-header a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  .subnav {
    float: left;
    overflow: hidden;
  }

  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .sub-header a:hover, .subnav:hover .subnavbtn {
    background-color: #cb2229;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #cb2229;
    width: 100%;
    z-index: 1;
  }
 
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  /* FIM DA SUB-HEADER */

/* INICIO DO BANNER */
.banner {
    width: 100%;
    height: 600px;
    background: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .container {
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000096;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: #f4decc;
    text-align: justify;
}

.info p {
    width: 567px;
    font-size: 25px; 
    font-style: italic;
}

iframe {
    margin-left: 30px;
    border-radius: 10px;
    border: #fff solid 2px;
}
/* FIM DO BANNER */

/* INICIO DA SOCIAL */
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111113;
    height: 550px;
}

.social .container {
    width: 100%;
    justify-content: space-evenly;
    text-align: end;
    align-items: center;
}

.social .info {
    flex-direction: column;
    margin-right: 30px;
}

.social .info span{
    justify-content: end;
    height: 80px;
}

.social .info p {
    text-align: justify;
}

.social a {
    font-size: 25px;
    color: #f4decc;
}

hr {
    display: flex;
    height: 5px;
    background-color: #cb2229;
    border: none;
    margin: 30px;
}

.social img {
   box-shadow: 0px 10px 30px #000000;;
}
/* FIM DA SOCIAL */

/* INICIO DO CARD */
.card {
    background-color:#17171a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.card .container {
    width: 100%;
    justify-content: space-evenly;
}

.card .info p {
    width: 600px;
}

.card img {
    margin-right: 35px;
    box-shadow: 10px 20px 30px #000000;
    height: 450px;
}

.card button {
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #cb2229;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}

.card a {
    width: 400px;
    height: 60px;
}

.card button:hover {
    width: 500px;
    height: 60px; 
    background-color: #cb2229; 
    color: white;
}
/* FIM DO CARD */

/* INICIO DA CAPA */
.capa{
    display: flex;
    width: 100%;
    height: 600px;
    background: url(../img/monster.jpeg);
    background-size: cover;
} 

.capa .container {
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000096
}
/* FIM DA CAPA */

/* INICIO DO FUNDOCONTATO */
.fundoContato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 425px;
    background-color: rgb(233, 227, 227);
    border-radius: 5px;
    transition-duration: 0.4s;
}

.fundoContato:hover {
    width: 350px;
    height: 450px;
    border: none;
    background: #cb2229;
    color: #fff;
    box-shadow: 10px 10px 10px #000000;
}

.fundoContato span {
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

.fundoContato img {
    width: 130px;
    height: 130px;
    box-shadow: none;
}
/* FIM DO FUNDOCONTATO */

/* FOOTER */
.footer {
    background-color: #cb2229;
    height: 100px;
    color: #fff;
    display: flex;
    font-size: 15px;
}

  .footer .container {
      justify-content: center;
    text-align: center;
}

.footer .container .version {
    font-size: 12px;
}
