*{
    font-family: 'Segoe UI';
}

body {
    margin: 0;
}   

.header {
    width: 100%;
    background-color: rgb(233, 227, 227);
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header img {
    width: 220px;
}

.header .container {
    width: 100%;
    justify-content: space-evenly;
    align-items: center; 
    height: 150px;
}

.navBar {
    width: 450px;
    display: flex;
    list-style: none;
    color: #2a2016;
    justify-content: space-evenly;
    font-size: 17px;
    padding: 40px 40px 40px 40px;
}

li b {
    color: #cb2229;
}

ul img {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #000000;
}

a:hover {
    color: #cb2229;
    transition: 0.3s all;
} 

.header button {
    width: 100px;
    height: 40px;
    border:  none;
    background-color: #cb2229;
    cursor: pointer;
    transition-duration: 0.4s;
}

.header a button {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.header button:hover {
    width: 110px;
    height: 50px; 
    background-color: #cb2229; 
    color: white;
}

a button:hover {
    color: #fff;
}

.banner {
    display: flex;
    width: 100%;
    height: 600px;
}

aside {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background: url(../img/DED.jpg);
    background-position: center;
    background-size: cover;
}

article {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #830a0e;
}

/* FOOTER */

.footer {
    background-color: #cb2229;
    height: 100px;
    color: #fff;
    display: flex;
    font-size: 15px;
}

  .footer .container {
      justify-content: center;
    text-align: center;
}

.footer .container .version {
    font-size: 12px;
}

.formulario li a {
    text-decoration: none;
    /* font-weight: 700; */
}

/* FORMULARIO */

.caixa_formulario {
    background: rgba(255, 255, 255, 0.808);
    opacity: 100%;
    width: 400px;
    height: auto;
    color: #cb2229;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.caixa_formulario img {
    width: 150px;
    height: 100px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 250px;
}

.formulario button {
    margin-top: 10px;
    background: #cb2229;
    color: #fff;
    padding: 10px 15px;
    border: none;
    width: 300px;
    height: 37px;
    text-align: center;
    cursor: pointer;
}

.formulario input {
    padding: 10px 15px;
    text-align: center;
    border: none;
}

li {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.formulario li a {
    text-decoration: none;
    /* font-weight: 700; */
    color: #cb2229;
}